@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

$clr-azure: #0290ff;
$clr-black-two: #121212;
$clr-cool-blue: #4386bf;
$clr-grey-border: #e8e8e8;
$clr-warm-grey: #888;
$clr-white: #fff;

$border-check: 1px solid crimson;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
}
